<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSI Table</title>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<link rel="stylesheet" href="style.css" type="text/css" media="screen,projection" />
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"/>
</head>
<body>

    <div id ="wrapper">
        <header>
            <a href = "images/politechnika_logo.png" id="logo"></a>
            <h1>Student Grade Manager</h1>
        </header>
        <nav>
            <ul class ="main_menu"> 
            <li><a href ="students_list.html">Home</a></li>
            <li><a href ="students_list.html">Manage students</a></li>
            <li><a href ="courses_list.html">Manage courses</a></li>
            </ul>
        </nav>
    <h2>List of students</h2>
        <h1><td><a href="#" class="button1">Add student</a></h1>
    <table>
         <col width="210">
        <col width="210">
        <col width="210">
        <col width="210">
        <col width="50">
        <tr>
            <th>Index</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Brithday</th>
            <th>Actions</th>    
        
        </tr> 
        
        <tr>
            <td>115610</td>
            <td>Filip</td>
            <td>Sosnowski</td>
            <td>1994-04-04</td>
             <td><a href="student_grades.html" class="button1">See grades</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
        <tr>
            <td>112424</td>
            <td>Piotr</td>
            <td>Sendrowski</td>
            <td>1993-05-12</td>
             <td><a href="student_grades.html" class="button1">See grades</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
        <tr>
           <td>115235</td>
            <td>Karol</td>
            <td>Pawlak</td>
            <td>1993-02-24</td>
            <td><a href="student_grades.html" class="button1">See grades</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
    </table>
            <div class="push"></div>
    </div>
    <footer>
        <div class="wrapper">
          <nav>
            <ul class ="footer_info"> 
            <p><a>&#169 2018 Made with love by Filip Sosnowski</a></p>
            <p><a>Politechnika Poznańska</a></p>
            <p><a>Wytwarzanie Systemów Internetowych</a></p>
            </ul>
        </nav>
        </div>
    </footer>
</body>
    
</html>