<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSI Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script type='text/javascript' src='js/knockout.js'></script>
    <script type='text/javascript' src='js/knockout_mapping_plugin.js'></script>
    <script type='text/javascript' src='js/logic.js'></script>

</head>

<body>
<div id="wrapper">
    <header>
        <a href="https://www4.put.poznan.pl/pl" id="logo"><img src="images/politechnika_logo.png" alt="logo"></a>
        <h1>Student Grade Manager</h1>
    </header>
    <nav>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <ul class="main_menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#student_list" onclick="getStudents();">Manage students</a></li>
            <li><a href="#courses_list" onclick="getSubjects();">Manage courses</a></li>
        </ul>

    </nav>
    <!--TODO pozycjonowanie wzgledem search menu-->
    <!--<div id="search_panel">-->
    <!--<input type="search" id="search_text" required="required" placeholder="example: Sosnowski"/>-->
    <!--<button id="search_button" type="submit"><i class="fa fa-search"></i></button>-->
    <!--</div>-->

    <section id="home" class="view">
        <img src="images/home.png" id="home_logo" alt="home_logo">
        <h1>Welcome home!</h1>
    </section>

    <section id="student_list" class="view">
        <h2>List of students</h2>
        <form id="students" onsubmit="createStudent()">
            <table class="my_table" id="student_table">
                <tr>
                    <th>Index</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Brithday</th>
                    <th>Actions</th>

                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: index"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: surname"></td>
                    <td data-bind="text: birthday"></td>
                    <td>
                        <a data-bind="attr: { 'data-index': $index }"
                           onclick="getStudentEdit(this.dataset.index)"
                           href="#edit_student" class="button1">Edit student</a>
                        <a onclick="DeleteStudent(this.dataset.index)"
                           data-bind="attr: { 'data-index': index }" href="#student_list" class="button2">Delete</a>
                    </td>
                </tr>
                </tbody>
                <tr>
                    <td><input type="number" required="required" data-bind="value: index"
                               placeholder="example: 123456"/></td>

                    <td><input type="text" required="required" data-bind="value: name" placeholder="example: John"/>
                    </td>

                    <td><input type="text" required="required" data-bind="value: surname"
                               placeholder="example: Lemon"/>
                    </td>

                    <td><input type="date" required="required" data-bind="value: birthday"/></td>

                    <td>
                        <button type="submit" class="button3" form="students" value="Submit">
                            Save
                        </button>
                    </td>
                </tr>
            </table>
        </form>
    </section>

    <section class="view" id="courses_list">

        <h2>List of courses</h2>
        <form id="subjects" onsubmit="createSubject()">
            <table id="courses_table">
                <tr>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Actions</th>

                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: subjectName"></td>
                    <td data-bind="text: teacher"></td>
                    <td><a href="#students_on_course"
                           data-bind="attr: { 'data-index': subjectName }"
                           onclick="getStudentsOnSubject(this.dataset.index);"
                           class="button1">See students</a>

                        <a data-bind="attr: { 'data-index': subjectName }" href="#courses_list"
                           onclick="deleteSubject(this.dataset.index)"
                           class="button2">Delete</a></td>
                </tr>
                </tbody>
                <td><input type="text" required="required" data-bind="textInput: subjectName"
                           placeholder="example: Informatyka"/></td>

                <td><input type="text" required="required" data-bind="value: teacher" placeholder="example: John Doe"/>
                </td>

                <td>
                    <button type="submit" class="button3" form="subjects" value="Submit">Save</button>
                </td>

            </table>
        </form>
    </section>

    <!--TODO ostyluj sekcje-->
    <section class="view" id="students_on_course">
        <h2>Signed students</h2>
        <h1>
            <a href="#add_student_to_subject" class="button1">Add student to subject</a>
        </h1>
        <form>
            <table id="students_on_course_table">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthday</th>
                    <th>Actions</th>
                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: index"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: surname"></td>
                    <td data-bind="text: birthday"></td>
                    <td><a href="#students_on_course" class="button2">Delete</a>
                        <!--Podpiac przycisk-->
                        <a href="#student_grades"
                           data-bind="attr: { 'data-index': index }"
                           onclick="getStudentsGrades(this.dataset.index);"
                           class="button4">See grades</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>

    <section class="view" id="student_grades">
        <h2>Student grades</h2>
        <form>
            <table id="grades_table">
                <tr>
                    <th>Grade</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: gradeValue"></td>
                    <td data-bind="date: date"></td>
                    <td><a href="#add_grade" class="button1">Modify</a>
                        <a href="#" class="button2">Delete</a></td>
                </tr>
                </tbody>

                <td><input type="number" required="required" placeholder="example: 4.0"/></td>

                <td><input type="text" required="required" placeholder="example: John Lemon"/></td>

                <td><a href="index.html" class="button3">Save</a></td>

            </table>
        </form>
    </section>

    <section class="view" id="edit_student">
        <h2>Edit student</h2>
        <form id="edit_student_form" onsubmit="updateStudent()">
            Index:<br>
            <span data-bind="text: index"></span><br/>
            First name:<br>
            <input type="text" required="required" data-bind="value: name"/><br/>
            Last name:<br>
            <input type="text" required="required" data-bind="value: surname"/><br/>
            Birthday:<br>
            <input type="date" required="required" data-bind="value: birthday"/><br/>
            <h1>
                <button type="submit" class="button3" form="edit_student_form" value="Submit">Save</button>
            </h1>
        </form>
    </section>

    <div class="push"></div>

</div>
<footer>
    <div class="wrapper">
        <nav>
            <div class="footer_info">
                <p><a>&#169; 2018 Made with love by Filip Sosnowski</a></p>
                <div class="links">
                    <p><a href="https://www4.put.poznan.pl/pl">Politechnika Poznańska</a></p>
                    <p><a href="http://www.cs.put.poznan.pl/tpawlak/?wytwarzanie-systemow-internetowych,24">Wytwarzanie
                        Systemów Internetowych</a></p>
                </div>
            </div>
        </nav>
    </div>
</footer>