<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSI Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/jquery.js"></script>
    <script type='text/javascript' src='js/knockout.js'></script>
    <script type='text/javascript' src='js/knockout_mapping_plugin.js'></script>
    <script type='text/javascript' src='js/logic.js'></script>

</head>
<!--TODO pozycjonowanie wzgledem search menu-->
<body>
<div id="wrapper">
    <header>
        <a href="https://www4.put.poznan.pl/pl" id="logo"><img src="images/politechnika_logo.png" alt="logo"></a>
        <h1>Student Grade Manager</h1>
    </header>
    <nav>
        <ul class="main_menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#student_list" onclick="getStudents();">Manage students</a></li>
            <li><a href="#courses_list" onclick="getSubjects();">Manage courses</a></li>
        </ul>
    </nav>

    <div id="search_panel">
        <input type="search" id="search_text" required="required" placeholder="example: Sosnowski"/>
        <button id="search_button" type="submit"><i class="fa fa-search"></i></button>
    </div>

    <section id="home" class="view">
        <img src="images/home.png" id="home_logo" alt="home_logo">
        <h1>Welcome home!</h1>
    </section>

    <section id="student_list" class="view">
        <h2>List of students</h2>
        <h1>
            <a href="#add_student" class="button1">Add student</a>
        </h1>
        <form>
            <table class="my_table" id="student_table">
                <col width="210">
                <col width="210">
                <col width="210">
                <col width="210">
                <col width="50">
                <tr>
                    <th>Index</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Brithday</th>
                    <th>Actions</th>

                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: index"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: surname"></td>
                    <td data-bind="text: birthday"></td>
                    <td><a href="#student_grades"
                           data-bind="attr: { 'data-index': index }"
                           onclick="getStudentsGrades(this.dataset.index);"
                           class="button1">See grades</a>
                        <a href="#" class="button2">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>

    <section class="view" id="courses_list">

        <h2>List of courses</h2>
        <h1>
            <a href="#add_subject" class="button1">Add course</a>
        </h1>
        <form>
            <table id="courses_table">
                <col width="380">
                <col width="380">
                <col width="40">
                <tr>
                    <th>Name</th>
                    <th>Teacher</th>
                    <th>Actions</th>

                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: subjectName"></td>
                    <td data-bind="text: teacher"></td>
                    <td><a href="#students_on_course"
                           data-bind="attr: { 'data-index': subjectName }"
                           onclick="getStudentsOnSubject(this.dataset.index);" class="button1">See students</a>
                        <a href="#" class="button2">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>

    <section class="view" id="student_grades">
        <h2>Student grades</h2>
        <h1>
            <a href="#add_grade" class="button1">Add grade</a>
        </h1>
        <form>
            <table id="grades_table">
                <col width="320">
                <col width="320">
                <col width="320">
                <col width="50">
                <tr>
                    <th>Course</th>
                    <th>Grade</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: subjectName"></td>
                    <td data-bind="text: gradeValue"></td>
                    <td data-bind="date: date"></td>
                    <td><a href="#add_grade" class="button1">Modify</a>
                        <a href="#" class="button2">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </form>
    </section>
    <!--TODO ostyluj sekcje-->
    <section class="view" id="students_on_course">
        <h2>Signed students</h2>
        <h1>
            <a href="#add_student_to_subject" class="button1">Add student to subject</a>
        </h1>
        <form>
            <table id="students_on_course_table">
                <col width="320">
                <col width="320">
                <col width="320">
                <col width="320">
                <col width="50">
                <tr>
                    <th>Index</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Birthday</th>
                    <th>Actions</th>
                </tr>
                <tbody data-bind="foreach: list">
                <tr>
                    <td data-bind="text: index"></td>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: surname"></td>
                    <td data-bind="text: birthday"></td>
                    <td><a href="#add_grade" class="button1">Modify</a>
                        <a href="#" class="button2">Delete</a></td>
                </tr>
                </tbody>

            </table>
        </form>
    </section>

    <section class="view" id="add_student">
        <h2>Add student</h2>
        <form>
            Index:<br>
            <input type="number" required="required" placeholder="example: 123456"/><br/>
            First name:<br>
            <input type="text" required="required" placeholder="example: John"/><br/>
            Last name:<br>
            <input type="text" required="required" placeholder="example: Lemon"/><br/>
            Birthday:<br>
            <input type="date" required="required"/><br/>

            <h1>
                <a href="index.html" class="button3">Save</a>
            </h1>
        </form>
    </section>

    <section class="view" id="add_grade">
        <h2>Add grade</h2>
        <form>
            Grade:<br>
            <input type="number" required="required" placeholder="example: 4.0"/><br/>
            Student Data:<br>
            <input type="text" required="required" placeholder="example: John Lemon"/><br/>
            Subject:<br>
            <input type="text" required="required" placeholder="example: Matematyka"/><br/>
            <h1>
                <a href="index.html" class="button3">Save</a>
            </h1>
        </form>
    </section>

    <section class="view" id="add_subject">
        <h2>Add subject</h2>
        <form>
            Name:<br>
            <input type="text" required="required" placeholder="example: Informatyka"/><br/>
            Teacher:<br>
            <input type="text" required="required" placeholder="example: John Doe"/><br/>
            <h1>
                <a href="index.html" class="button3">Save</a>
            </h1>
        </form>
    </section>

    <div class="push"></div>
</div>
<footer>
    <div class="wrapper">
        <nav>
            <div class="footer_info">
                <p><a>&#169; 2018 Made with love by Filip Sosnowski</a></p>
                <div class="links">
                    <p><a href="https://www4.put.poznan.pl/pl">Politechnika Poznańska</a></p>
                    <p><a href="http://www.cs.put.poznan.pl/tpawlak/?wytwarzanie-systemow-internetowych,24">Wytwarzanie
                        Systemów Internetowych</a></p>
                </div>
            </div>
        </nav>
    </div>
</footer>