<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
<link rel="stylesheet" href="style.css" type="text/css" />
    <meta name ="viewpoint" content ="width=device-width, initial-scale =1.0">
</head>
<body class="body">
<header class="mainheader">
<img src="images/przyklad.png" alt="Cannot load picture">
    <nav><ul>
        <ii><a href = "#">Home</a></ii>
        <ii><a href = "#">Students</a></ii>
        <ii><a href = "#">Grades</a></ii>
        <ii><a href = "#">Teachers</a></ii>
    </ul>
    </nav>
</header>
</body>
</html>