<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WSI Table</title>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1">
<link rel="stylesheet" href="style.css" type="text/css" media="screen,projection" />
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"/>
</head>
<body>

    <div id ="wrapper">
        <header>
            <a href = "images/politechnika_logo.png" id="logo"></a>
            <h1>Student Grade Manager</h1>
        </header>
        <nav>
            <ul class ="main_menu"> 
              <li><a href ="students_list.html">Home</a></li>
            <li><a href ="students_list.html">Manage students</a></li>
            <li><a href ="courses_list.html">Manage courses</a></li>
            </ul>
        </nav>
    <h2>Student grades</h2>
    <h1><td><a href="#" class="button1">Add grade</a></h1>
    <table>
         <col width="320">
        <col width="320">
        <col width="320">
        <col width="50">
        <tr>
            <th>Course</th>
            <th>Grade</th>
            <th>Date</th>
            <th>Actions</th>    
        
        </tr> 
        
        <tr>
            <td>WOS</td>
            <td>4.0</td>
            <td>2018-04-04</td>
             <td><a href="#" class="button1">Modify</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
         <tr>
            <td>Historia</td>
            <td>5.0</td>
            <td>2018-07-14</td>
             <td><a href="#" class="button1">Modify</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
          <tr>
            <td>Informatyka</td>
            <td>4.5</td>
            <td>2018-12-12</td>
             <td><a href="#" class="button1">Modify</a>
            <a href="#" class="button2">Delete</a></td>
        </tr>
        
    </table>
            <div class="push"></div>
    </div>
    <footer>
        <div class="wrapper">
          <nav>
            <ul class ="footer_info"> 
            <p><a>&#169 2018 Made with love by Filip Sosnowski</a></p>
            <p><a>Politechnika Poznańska</a></p>
            <p><a>Wytwarzanie Systemów Internetowych</a></p>
            </ul>
        </nav>
        </div>
    </footer>
</body>
    
</html>