
html, body {
    font-family: 'Hind', sans-serif;
    background-color: white;
    min-width: 700px;
}

wrapper {
    min-height: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: -50px;
    background-color: white;
    padding: 32px;
}

header {
    background-color: white;
    height: 120px;
    padding: 4px;
}

header h1 {
    text-align: right;
    color: black;
    line-height: 75px;
    min-width: 700px;
}

#logo {
    margin-top: -8px;
    float: left;
    width: 350px;
    height: 105px;
    display: block;

}

#home h1 {
    text-align: center;
}

#home_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search_panel {
    float: right;
}

#search_panel input#search_text {
    width: 80%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 15px;
    background: #e7edf0;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    padding: 11px 16px 10px 30px;
    max-width: 200px;

}

#search_panel #search_button {
    float: left;
    padding: 11px 16px 10px 16px;
    margin-right: 1px;
    background: #ddd;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    font-size: 15px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

.main_menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: dimgray;
    min-width: 700px;
}

ul.main_menu {
    color: #fff;
    margin-top: 0px;
}

.main_menu li {
    display: inline;
    padding: 0 40px 0 40px;
    font-size: 18px;
}

.main_menu a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;

}

.main_menu a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#student_list h2 {
    text-align: left;
    width: 160px;
}

.links a:hover {
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 100%;
    min-width: 700px;
}

table th {
    text-align: left;
    background-color: dimgrey;
    color: #FFF;
    padding: 7px 8px 7px 16px;
    column-width: 300px;
}

table td {
    border: 1px solid #e3e3e3;
    padding: 7px 16px;
    column-width: 300px;

}

table tr:nth-child(odd) {
    background-color: #e7edf0;
}

#student_table tr:hover {
    background-color: darkgrey;
}

#courses_table tr:hover {
    background-color: darkgrey;
}

#grades_table tr:hover {
    background-color: darkgrey;
}

.view {
    display: none;
    width: 100%;
}

.view:target {
    display: block;
}

input:invalid {
    border: 2px solid red;
}

input {
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 15px;
    background: #e7edf0;
    background-position: 5px 5px;
    background-repeat: no-repeat;
}

.button1 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button4 {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 0.8; /* Firefox */
}

.footer_info, push {
    height: 150px;
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    min-width: 700px;
    background: linear-gradient(dimgrey, dimgray, darkgrey);

}

.footer_info a {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-variant: small-caps;

}

@media screen and (min-width: 800px) {

    .nav-toggle:checked ~ .main_menu {
        display: block;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        margin-top: 0px;
        padding: 14px;
        display: flex;

    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        background: white;
        height: 2px;
        width: 30px;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }

    nav {
        background-color: dimgray;
    }

    .main_menu {
        display: none;

    }

    .main_menu li {
        display: list-item;
        padding: 0 0 0 0;
        text-align: left;
    }
}

@media print {
    .main_menu {
        display: none;
    }

    .footer_info {
        display: none;
    }

    header {
        display: none;
    }

    .button1, .button1, .button3 {
        display: none;
    }

    #search_button, #search_text {
        display: none;
    }

    table {
        border-bottom: 1px solid black;
    }

    table td:last-child {
        display: none;
        border-collapse: collapse;

    }

    table th, table td {
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        color: black;
        background: white;
    }

    table th:last-child {
        display: none;
    }

    input, input:invalid, input:placeholder-shown {
        border: none;
        background: white;
        color: black;
    }
}
