
html,body{
    font-family: 'Hind', sans-serif;
    background-color: aliceblue;
}
wrapper{
    min-height: 100%
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: -50px;
    background-color: aliceblue;
    padding: 32px;
}

header{
    background-color: aliceblue;
    height: 120px;
    padding: 4px;
}
header h1{
    text-align: right;
    color: black;
    line-height: 75px;
}
#logo{
    margin:7px;
    float: left;
    width: 350px;
    height: 105px;
    background: url(images/politechnika_logo.png) no-repeat center;
    display: block;

}


.main_menu{
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: dimgrey;
   
}
ul.main_menu{
    margin-top: 0px;
}

.main_menu li{
    display: inline;
    padding: 0 150px 0 150px;
    font-size: 16px;
    
}

.main_menu a{
    text-decoration: :none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;
}
.main_menu a:hover{
    color: darkorange;
}
table{
    border-collapse: collapse;
    width: 100% ;
}
table th{
    text-align: left;
    background-color: dimgrey;
    color:#FFF;
    padding: 7px 8px 7px 16px;
}
table td{
    border: 1px solid #e3e3e3;
    padding: 7px 16px;
}

table tr:nth-child(odd) td{
    background-color: #e7edf0; 
}
.button1 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2 {
    background-color: #f44336; /* Red */ 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.footer_info,push{
   height: 150px;
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
background: linear-gradient(dimgrey,dimgray,darkgrey);

}

.footer_info a{
    text-decoration: :none;
    color: white;
    padding: 8px;
    font-variant: small-caps;
}