
html,body{
    font-family: 'Hind', sans-serif;
    background-color: aliceblue;
}
wrapper{
    min-height: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: -50px;
    background-color: aliceblue;
    padding: 32px;
}

header{
    background-color: aliceblue;
    height: 120px;
    padding: 4px;
}
header h1{
    text-align: right;
    color: black;
    line-height: 75px;
}
#logo{
    margin:7px;
    float: left;
    width: 350px;
    height: 105px;
    background: url(images/politechnika_logo.png) no-repeat center;
    display: block;

}

#search_panel{
 vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

#search_panel input#search_text{
     float: right;
     width: 12%;
     border-sizing:border-box;
     border:2px solid #ccc;
     border-radiusL 5px;
     font-size:15px;
     background:#e7edf0;
     background-position:5px 5px;
     background-image:url(images/search.png);
     background-repeat:no-repeat;
     padding: 11px 16px 10px 30px;

}

#search_panel .icon{
position: absolute;
    top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}

.main_menu{
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: dimgray;
   
}
ul.main_menu{
    margin-top: 0px;
}

.main_menu li{
    display: inline;
    padding: 0 150px 0 150px;
    font-size: 16px;

}

.main_menu a{
    text-decoration :none;
    color: #fff;
    padding: 8px;
    font-variant: small-caps;

}
.main_menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}


.links a:hover{
    text-decoration: underline;
}

table{
    border-collapse: collapse;
    width: 100% ;
}
table th{
    text-align: left;
    background-color: dimgrey;
    color:#FFF;
    padding: 7px 8px 7px 16px;
}
table td{
    border: 1px solid #e3e3e3;
    padding: 7px 16px;
}

table tr:nth-child(odd){
    background-color: #e7edf0; 
}
.my_table tr:hover{
    background-color:darkgrey  ;
}

.view{
    display: none;
    width:100%;
}
.view:target{
    display: block;
}
.button1 {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button2 {
    background-color: #f44336; /* Red */ 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3 {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 0.8; /* Firefox */
}

.footer_info,push{
   height: 150px;
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
background: linear-gradient(dimgrey,dimgray,darkgrey);

}

.footer_info a{
    text-decoration :none;
    color: white;
    padding: 8px;
    font-variant: small-caps;

}
